fieldset.query
{
    font-size: 0.8em;
}
.query legend
{
    color: #41519A;
    margin-left: 40px;
    font-size: 1.1em;
    font-weight: bold;
}
.query td, .query th
{
    padding: 3px 0px 3px 5px;
}
.query table
{
    margin: 6px;
    width: 98%;
}
.query tbody tr.alrow
{
    background-color: #b2c2e1;
}
