<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alxf.TestProject.Properties.Settings.ConnectionString"
            connectionString="Data Source=xxroom;Persist Security Info=True;User ID=scott;Password=444444;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>