<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>

        <add name="alxEntities"
             connectionString="metadata=res://*/Entity.MyAlx.csdl|res://*/Entity.MyAlx.ssdl|res://*/Entity.MyAlx.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=444444;Persist Security Info=True;database=alx&quot;"
             providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>