RewriteEngine on
RewriteCond $1 !^(index\.php|user_guide|static|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]

#1,如果有虚拟目录 RewriteRule ^(.*)$ /foldername/index.php/$1 [L]
#2,在apache中配置,保证此配置此目录是<Directory/>节点的AllowOverride All,使RewriteEngine生效
#