<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Alxf.ProduceCard.DAL.Properties.Settings.ManufactureTestConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ManufactureTest;Persist Security Info=True;User ID=sa;Password=444444" providerName="System.Data.SqlClient" />
    <add name="AlxfDemoEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=AlxfDemo;Persist Security Info=True;User ID=sa;Password=444444;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>