body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, dd
{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}
body
{
    font-family: Verdana;
    font-size: 13px;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}
#context
{
    width: 960px;
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
    background-color: #ffffff;
}
#tophead
{
    border: solid 1px #d3d3d3;
    width: 100%;
    text-align: center;
    height: 119px;
    background: #5b6db5 url(Images/logo.jpg) no-repeat;
    margin: 1px 0px;
}
#tophead h1
{
    color: #ffffff;
    margin-top: 40px;
}
#foot
{
    border: solid 1px #d3d3d3;
    background-color: #ffffff;
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin: 1px 0px;
}
.headbar
{
    border: solid 1px #d3d3d3;
    width: 100%;
    background-image: url(Images/bar.jpg);
    text-align: right;
    height: 22px;
    margin: 1px 0px;
    font-size: 12px;
}

#main
{
    border-left: solid 1px #d3d3d3;
    border-right: solid 1px #d3d3d3;
    width: 100%;
    background-color: #41519a;
    margin-bottom: 1px;
}
A:link
{
    color: #41519A;
    text-decoration: none;
}
A:visited
{
    color: #41519A;
    text-decoration: none;
}
A:active
{
    color: #41519A;
    cursor: hand;
    text-decoration: none;
}
A:hover
{
    color: #B2C3E1;
    cursor: hand;
    text-decoration: "underline";
}

table
{
    border: solid 1px #d3d3d3;
    border-collapse: collapse;
}
td, th
{
    text-align: left;
    border: solid 1px #d3d3d3;
}

