{% extends '../base.html' %}

{% block title %}新番动漫{% endblock %}

{% block content %}
<div>
    新番动漫</div>
<table>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td id="btns" colspan="4">
            </td>
        </tr>
    </tfoot>
</table>
<div id="form">
</div>
{% endblock %}