<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link href="/static/admin.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    Google App Engine
                </h1>
            </div>
            <div class="loginDisplay">
                Welcome <span class="bold">who</span>
                <a id="HeadLoginView_HeadLoginStatus" href="#">[ Log Out ]</a>
            </div>
            <div class="clear hideSkiplink">
                <div class="menu" id="NavigationMenu">
                    <ul>
                    {% block menu %}                    
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>                    
                    {% endblock %}
                    </ul>
                    <div class="search">
                        <input type="search" /><input class="btn" type="submit" value="查询" />
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-left">
                {% block main %}
                <h2>
                    Welcome to ASP.NET!
                </h2>
                <p>
                    To learn more about ASP.NET visit <a href="http://www.asp.net" title="ASP.NET Website">
                        www.asp.net</a>.
                </p>
                <p>
                    You can also find <a href="http://go.microsoft.com/fwlink/?LinkID=152368&amp;clcid=0x409"
                        title="MSDN ASP.NET Docs">documentation on ASP.NET at MSDN</a>.
                </p>
                <h2>
                    Welcome to ASP.NET!
                </h2>
                <p>
                    To learn more about ASP.NET visit <a href="http://www.asp.net" title="ASP.NET Website">
                        www.asp.net</a>.
                </p>
                <p>
                    You can also find <a href="http://go.microsoft.com/fwlink/?LinkID=152368&amp;clcid=0x409"
                        title="MSDN ASP.NET Docs">documentation on ASP.NET at MSDN</a>.
                </p>
                <h2>
                    Welcome to ASP.NET!
                </h2>
                <p>
                    To learn more about ASP.NET visit <a href="http://www.asp.net" title="ASP.NET Website">
                        www.asp.net</a>.
                </p>
                <p>
                    You can also find <a href="http://go.microsoft.com/fwlink/?LinkID=152368&amp;clcid=0x409"
                        title="MSDN ASP.NET Docs">documentation on ASP.NET at MSDN</a>.
                </p>
                <h2>
                    Welcome to ASP.NET!
                </h2>
                <p>
                    To learn more about ASP.NET visit <a href="http://www.asp.net" title="ASP.NET Website">
                        www.asp.net</a>.
                </p>
                <p>
                    You can also find <a href="http://go.microsoft.com/fwlink/?LinkID=152368&amp;clcid=0x409"
                        title="MSDN ASP.NET Docs">documentation on ASP.NET at MSDN</a>.
                </p>
                {% endblock %}
            </div>
            <div class="main-right">
                <div class="area">
                    <dl>
                        <dd>
                            标题</dd>
                        <dd>
                            <ul>
                                <li><a href="#">content</a> </li>
                                <li><a href="#">content</a> </li>
                                <li><a href="#">content</a> </li>
                                <li><a href="#">content</a> </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="area">
                    <dl>
                        <dd>
                            标题</dd>
                        <dd>
                            <ul>
                                <li><a href="#">content</a> </li>
                                <li><a href="#">content</a> </li>
                                <li><a href="#">content</a> </li>
                                <li><a href="#">content</a> </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="clear" />
    </div>
    <div class="footer">
        footer
    </div>
</body>
</html>
