doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', href='/img/favicon.png')
        //if lt IE 9
            script(src='/js/html5shiv.js')

        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

    body
        block content
        script(src='/js/jquery-1.9.1.min.js')
        script(src='/js/bootstrap.min.js')
        block foot
        
    