extends layout

block content
    div.row
        div.span10.offset2
            form#op-reg.form-horizontal.fix(method='post', action='/reg')
                div.control-group
                    label.control-label
                    div.controls
                        span.help-block 标题
                div.control-group
                    label.control-label Email
                    div.controls
                        input(type='text', name='EMAIL')
                div.control-group
                    label.control-label 密码
                    div.controls
                        input#PWD(type='text', name='PWD')
                div.control-group
                    label.control-label 确认密码
                    div.controls
                        input(type='text', name='PWD2')
                div.control-group
                    label.control-label
                    div.controls
                        input.btn.btn-large.btn-primary(type='submit', value='注册')

block foot
    script(src='/js/jquery.validate.min.js')
    script(src='/js/jquery.validate.messages_zh.js')
    script
        $(function(){
            $('#op-reg').validate({
                rules: {
                    EMAIL: { required: true, email: true },
                    PWD: { required: true, rangelength: [6, 16] },
                    PWD2: { equalTo: "#PWD" }
                }
            })
        })


