.nn
{
    display: none;
}
.clr
{
    clear: both;
    width: 100%;
    height: 0px;
}
.fr
{
    float: right;
}
.fl
{
    float: left;
}
ul.inline
{
    text-align: center;
}
ul.inline li
{
    display: inline;
    float: left;
}
.w100
{
    width: 100%;
}
.tl
{
    text-align: left;
}

