{% extends "../shared/master.html" %}

{% block title %} {{title}} {% endblock %}

{% block body %}
<div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
                <th>
                    msg
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            {% for a in entities %}
            <tr>
                <td>{{a.key.id}}
                </td>
                <td>{{a.name}}
                </td>
                <td>{{a.age}}
                </td>
                <td>{{a.msg}}
                </td>
                <td>
                    <a href="/msg/edit/{{a.key.id}}">edit{{a.ID}}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
