div.navbar.navbar-fixed-top.navbar-inverse
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') 首页
            ul.nav
                li
                    a(href='/reg') 注册
                li
                    a(href='#') link
                li
                    a(href='#') link
                li
                    a(href='#') link
            ul.nav.pull-right
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown") 欢迎
                        b.caret
                    ul.dropdown-menu
                        li
                            a(tabindex="-1", href="#") 修改密码
                        li.divider
                        li
                            a(tabindex="-1", href="#") 退出