<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include './part/head.html' %} 
    {# 由于路径文件 2个include只会有一个有效, 路径是基于程序中load的文件, 而不是当前文件 #}
    {% include '../part/head.html' %} 
    {% block head %}{% endblock %}
</head>
<body>
    <div id="warper">
        <div class="row">
            <header>
                <div class="logo col_7 col">First GAE App</div>
                <nav class="col_9 col"> 
                    <ul> 
                        <li><a href="#navigation">navigation 1</a></li> 
                        <li><a href="#navigation">navigation 2</a></li> 
                        <li class="last"><a href="#ssss">enavu network</a></li> 
                    </ul> 
                </nav>
              <div class="clear"></div>
            </header>
        </div>
        <section class="row"> 
        {% block content %}
            <p>It is master</p>
        {% endblock %}
        </section>
        <footer class="row">
            <div class="col_16 col">all rights reserved &copy; <a href="http://www.enavu.com">enavu network</a> | 52framework the framework from the future
            </div> 
        </footer> 
    </div>
</body>
</html>