<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Metamorphosis Design Free Css Templates</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <a href="#">长夜漫漫</a><h2>
                    <a href="#" >无心睡眠</a></h2>
            </div>
            <div id="buttons">
                <div>
                    <a href="/" class="but_1" title="">Home</a></div>
                <div>
                    <a href="/blog" class="but_2" title="">Blog</a></div>
                <div>
                    <a href="/msg/list" class="but_3" title="">Message</a></div>
                <div>
                    <a href="/proxy" class="but_4" title="">proxy</a></div>
                <div>
                    <a href="http://xhsh.tk/" target="_blank" class="but_5" title="">西红柿</a></div>
            </div>
        </div>
        <div id="content">
            <div id="right">
                <h1>
                    Company News</h1>
                <div class="tit_bot">
                    <div class="right_b">
                        <span class="dat">05-01-2010</span><br />
                        <span class="col_b">Morbi sit amet fringilla dolor. </span>
                        <br />
                        Morbi sit amet fringilla dolor.
                        <br />
                        Phasellus tempor elementum metus vitae imperdiet. Nulla orci neque, convallis sed
                        suscipit nec, iaculis nec odio. Phasellus sagittis sodales semper. Integer aliquam
                        lectus a lectus mollis mollis rhoncus felis vestibulum. Etiam faucibus ipsum ac...
                    </div>
                    <div class="read">
                        <a href="#">read more</a></div>
                    <div class="right_b">
                        <span class="dat">05-01-2010</span><br />
                        <span class="col_b">Morbi sit amet fringilla dolor. </span>
                        <br />
                        Morbi sit amet fringilla dolor.
                        <br />
                        Phasellus tempor elementum metus vitae imperdiet. Nulla orci neque, convallis sed
                        suscipit nec, iaculis nec odio. Phasellus sagittis sodales semper. Integer aliquam
                        lectus a lectus mollis mollis rhoncus felis vestibulum. Etiam faucibus ipsum ac...
                    </div>
                    <div class="read">
                        <a href="#">read more</a></div>
                </div>
            </div>
            <div id="left">
                <div class="left_top">
                </div>
                <div class="left_s">
                    <h2>
                        Metamorphosis Design</h2>
                    <div class="col_l">
                        <img src="/static/images/img1.jpg" width="124" height="94" class="img" alt="" />
                        <span>Aenean tincidunt magna tortor.</span><br />
                        Donec lectus sem, sagittis in volutpat eu, vulputate adipiscing sapien. Praesent
                        et libero turpis. Donec consectetur est dui. Nulla facilisi. Fusce ac arcu porta
                        eros tempor sodales id ut est. Quisque nec eros vel enim laoreet adipiscing sed
                        nec massa. Aliquam metus nisi, mattis non tincidunt et, facilisis vel dolor. Donec
                        venenatis dictum adipiscing. Curabitur accumsan elit vel...
                        <br />
                        <div class="read">
                            <a href="#">read more</a></div>
                    </div>
                    <br />
                    <div class="col_l">
                        <img src="/static/images/img2.jpg" width="124" height="95" class="img" alt="" />
                        <span>Sed sit amet augue nisi. </span>
                        <br />
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Maecenas id mauris eget mauris consectetur hendrerit. Mauris tempus risus
                        nec eros porttitor at gravida magna dignissim. Praesent lobortis sodales dapibus.
                        Sed et lacus fermentum augue imperdiet egestas. Suspendisse faucibus elementum tortor
                        sed malesuada. Nulla laoreet...<br />
                        <div class="read">
                            <a href="#">read more</a></div>
                    </div>
                    <div style="clear: both">
                    </div>
                    <br />
                    <h2>
                        Free Website Templates</h2>
                    <div class="text">
                        <span>Fusce ac arcu porta eros tempor sodales id ut est. </span>
                        <br />
                        Quisque nec eros vel enim laoreet adipiscing sed nec massa. Aliquam metus nisi,
                        mattis non tincidunt et, facilisis vel dolor. Donec venenatis dictum adipiscing.
                        Curabitur accumsan elit vel metus rutrum quis euismod leo vehicula. Suspendisse
                        vel ligula ut felis adipiscing molestie. Suspendisse facilisis scelerisque sagittis.
                        Proin nulla nibh, gravida suscipit
                        <br />
                        <div class="read">
                            <a href="#">read more</a></div>
                    </div>
                </div>
                <div class="left_bot">
                </div>
            </div>
            <div style="clear: both">
            </div>
        </div>
        <div id="footer">
            Copyright 2009. Designed by <a href="http://www.metamorphozis.com/" title="Website Templates">
                Website Templates</a><br />
            <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer"
                title="This page validates as XHTML 1.0 Transitional">
                <abbr title="eXtensible HyperText Markup Language">
                    XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS">
                        <abbr title="Cascading Style Sheets">
                            CSS</abbr></a></div>
    </div>
</body>
</html>
