<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DbFactory0" value="System.Data.SQLite, System.Data.SQLite.SQLiteFactory,SQLite"/>
    <add key="DbFactory" value="Oracle.DataAccess, Oracle.DataAccess.Client.OracleClientFactory,Oracle"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
