<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alxf.DAL.Demo.Properties.Settings.AlxfDemoConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=AlxfDemo;Persist Security Info=True;User ID=sa;Password=444444" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
