.sblock
{
    font-size: 13px;
    cursor: default;
}
.sblock td, .sblock th
{
    padding: 3px 0px 3px 5px;
}
.sblock .txtView
{    
    border: none 0px !important;
    background-color: inherit !important;
}
.sblock tbody tr.alrow
{
    background: #b2c2e1;
}
